/* learn.css */

.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: "20px";
}

.dash-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px; /* Adjust as needed */
  padding-top: 50px; /* Ensure consistent padding */
}

/* Set the background image to be fixed */
.dash-learn {
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0,0,0,0.08);
  margin: 0px 40px;
  border-radius: 0%;
  /* Parallax scrolling effect */
  /*background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_632/81a4f5152901555.6326130c41a7f.gif');*/
  background-attachment: fixed;
  background-size: cover;
}

.dash-learn__content {
  color: #EBEBE3;
  width: calc(100% - 20px);
  text-align: center;
  background-color: #054086;
  height: 180px; /* Adjusted height to cover the entire image */
  padding: 5px 10px 20px 10px;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
  will-change: bottom, background-color, transform;
  z-index: 1;
  border-radius: 50% 50% 0 0/ 20% 20% 0 0; /* Adjust these values to fine-tune the shape */
}

/* Rest of the styles remain unchanged */


.dash-learn:hover .dash-learn__content {
  background-color: #5697D4;
  bottom: 100%;
  padding: 20px 10px;
  transform: translateY(100%);
  transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
  border-radius: 0 0 50% 50%/ 0 0 20% 20%;
}

.dash-learn:hover .dash-learn__content .dash-learn__title {
  display: none; /* Hide the title on hover */
}

.dash-learn:hover .dash-learn__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(.1,.72,.4,.97);
}

.dash-learn__title {
  padding-top: 10px;
  font-size: 1rem;
  margin-bottom: 1em;
}

.dash-learn__title span {
  color: #7C7C6C;
  
}

.dash-learn__text {
  font-size: 0.9rem; /* Corrected font size */
  word-spacing: 2px;
  letter-spacing: 2px;
}

.dash-learn__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #EBEBE3;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}

.dash-learn__link:hover svg {
  transform: translateX(4px);
}

.dash-learn__link svg {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}

.dash-learn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: transform 0.35s cubic-bezier(.1,.72,.4,.97);
}

.dash-learn:hover img {
  transform: scale(1);
}
